* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.SignupComponent {
    width: 100%;
    height: 100vh;
}

.SignupComponent-in {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.SignupComponent {
    width: 100%;
    height: 100vh;
}

.SignupComponent-in {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.SignupComponent-in h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.SignupComponent-in h1 span {
    font-size: 2.8rem;
}

.SignupComponent-in input {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.SignupComponent-in button {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}