
.LogoComponent {
    width: fit-content;
}

.LogoComponent-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.LogoComponent-in-one {
    width: auto; 
    flex-shrink: 0;  
}

.LogoComponent-in-one img {
    width: 60px; 
    height: auto;  
    max-width: 100%;
    object-fit: contain;
}

.LogoComponent-in-two {
    width: 90%;
    height: 100%;
    display: flex;  
    align-items: center;
    justify-content: flex-start;
}

.LogoComponent-in-two h1 {
    font-size: 2rem;
    font-weight: 700;
}